<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="FirstAPI\APIFirst\Api\WishlistInterface" type="FirstAPI\APIFirst\Model\WishlistRepository"/>
</config> 



<!-- <?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="FirstAPI\APIFirst\Api\CustomerTokenInterface" type="FirstAPI\APIFirst\Model\CustomerRepository"/>
</config> -->
